button {
    font-size : 20px;
    width : 90px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius:20px;
    border-color: black;
    border-width: 3px;
}

.countButton{
    
    background-color:orange;
  
}
.resetButton{
    background-color: grey;
}
.count{
font-size: 50px;
padding: 20px;
}
.totalCount{
    color: black;
    font-size: 150px;
}